.clerk__social-provider-button svg {
  filter: brightness(0) invert(1);
}
.cl-socialButtonsBlockButtonText {
  color: white !important;
  font-size: 15px !important; /* ~18px */
}

.clerk-socialButtonsProviderIcon {
  width: 60px !important;
  height: 60px !important;
  min-width: 60px !important;
  min-height: 60px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

